<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="stylesheet" href="./stylesheets/utils.css" />
    <link rel="stylesheet" href="./stylesheets/conponents/header.css" />
    <link rel="stylesheet" href="./stylesheets/conponents/footer.css" />
    <link rel="stylesheet" href="./stylesheets/media.css" />
    <link rel="stylesheet" href="./stylesheets/utils.css" />
    <link rel="stylesheet" href="./stylesheets/media.css" />
    <link rel="stylesheet" href="./stylesheets/conponents/header.css" />
    <link rel="stylesheet" href="./stylesheets/conponents/footer.css" />
    <script type="module" src="./javascripts/scripts.js"></script>
    <script type="module" src="./stylesheets/sc.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <title>Portfolio</title>
  </head>
  <body>
    <header class="header container">
      <div class="logodiv child-header">
        <div class="logo">
          <h5 id="home">ramashish</h5>
        </div>
      </div>
      <nav class="navbar child-header">
        <ul class="nav-list">
          <li><a href="#home" class="listitems">Home</a></li>
          <li><a href="#skills" class="listitems">Skills</a></li>
          <li><a href="/contact" class="listitems">Contact Me</a></li>
        </ul>
      </nav>
      <div class="hamburger">
        <ion-icon name="menu-outline" class="mobileMenu"></ion-icon>
        <ion-icon name="close-outline" class="mobileMenu"></ion-icon>
      </div>
    </header>
    <main class="container section">
      <section class="main__section">
        <div class="containerbox">
          <div class="headingdiv">
            <div class="head-div">
              <div class="headbio">
                <h3>
                  <small class="hi">Hi</small> <br />
                  I am Ramashish Vishwakarma
                </h3>
                <p>
                  A web developer in India and excited to get an opportunity to
                  be a part of your team that can be suit to my skills and
                  knowledge.
                </p>
                <div class="hire__btn section">
                  <div class="hirebtn btn1">
                    <button class="hirebtn1">view resume</button>
                  </div>
                  <div class="hirebtn btn2">
                    <button class="hirebtn2">hire me</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="imagediv">
            <div class="imagediv1">
              <div class="imagediv2">
                <img src="./images/1712467547238-modified.png" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="logo-holder section">
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/html.png" alt="" />
        </div>
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/CSS-Logo-500x313.png" alt="" />
        </div>
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/jsjs.png" alt="" />
        </div>
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/nodejs.png" alt="" />
        </div>
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/icons8-express-js-50.png" alt="" />
        </div>
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/MongoDB_logo.png" alt="" />
        </div>
        <div class="logodiv1 logodiv slideleft">
          <img src="./images/icons8-ejs-48.png" alt="" />
        </div>
      </div>

      <section class="containerbox2 skills-section container section">
        <div class="skills-sectiondiv">
          <div class="leftskillsdiv">
            <h4 id="skills">Skills</h4>
            <h4>Frontend</h4>
            <div class="frontend">
              <ul class="listitem">
                <li class="listmenu">html</li>
                <li class="listmenu">css</li>
                <li class="listmenu">javascript</li>
              </ul>
            </div>
            <h4>Backend</h4>
            <div class="backend">
              <ul>
                <li>node js</li>
                <li>express js</li>
                <li>mongodb</li>
              </ul>
            </div>
          </div>
          <div class="rightskillsdiv">
            <h4>About <span class="me">me</span></h4>
            <p>
              A web developer in India, having skills of HTML, CSS, JavaScript,
              nodejs, expressjs and database such as Mongodb. I am excited about
              the prospect to be a developer that can be suit to my skills and
              knowledge. <br />
              I would throughly appriciate to get an opportunity to connect with
              you.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer container section">
      <div class="footerdiv">
        <div class="social-link">
          <a href="https://github.com/ramashish196" class="links"
            ><ion-icon name="logo-github"></ion-icon
          ></a>
          <a href="https://www.linkedin.com/in/ramashish196/" target="_blank" "links"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
          <a
            href="mailto:ramashishvishwakarma1@gmail.com"
            class="links"
            target="_blank"
            ><ion-icon name="mail-outline"></ion-icon
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
