* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --black: #2a1d1d;
  --gray: #6f6c6c;
  --white: #fafdff;
  --clrbtn: #1bc4d7;
  --clrnv: #050f26;
  --clrbg: #091b2a;
  --clrbtn2: #35b3b6;
  --clrgrnt: linear-gradient(#e66465, #9198e5);
  color: var(--white);
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 3rem;
  background-color: var(--clrbg);
}

main {
  .main__section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .headingdiv {
      color: var(--white);
      flex-basis: 60%;
      height: 75%;
      .head-div {
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        text-align: justify;
        .hi {
          color: var(--clrbtn);
        }
        .hire__btn {
          width: 600px;
          height: 150px;
          display: flex;
        }
        .hirebtn {
          margin-top: 0.5em;
          margin-left: 2em;
          width: 350px;
          height: 70px;
          gap: 0.5em;
        }
        .hirebtn1 {
          color: var(--white);
          background-color: var(--clrnv);
          font-size: 2rem;
          width: 190px;
          height: 50px;
          border-radius: 30px;
          border: 2px solid var(--clrbtn2);
          transition: 1s;
          &:hover {
            background-color: var(--clrbtn2);
          }
        }
        .hirebtn2 {
          color: var(--white);
          background-color: var(--clrnv);
          font-size: 2rem;
          width: 190px;
          height: 50px;
          border-radius: 30px;
          border: 2px solid var(--clrbtn2);
          transition: 1s;
          &:hover {
            background-color: var(--clrbtn2);
          }
        }
      }
    }
    /* -------animation for mypic --------  */
    .imagediv {
      height: 75%;
      flex-basis: 30%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .imagediv1 {
        width: 60%;
        height: 85%;
        /* border: 2px solid yellow; */
        border-radius: 50%;
        position: relative;
        overflow: hidden;
      }
      .imagediv1::before {
        content: "";
        position: absolute;
        inset: -10% 35%;
        background-color: var(--clrbtn);
        animation: rotate 3s linear infinite;
      }
      .imagediv1::after {
        content: "";
        position: absolute;
        inset: 1%;
        background-color: var(--clrbg);
        border-radius: 50%;
        z-index: 1;
      }
      .imagediv2 {
        position: absolute;
        inset: 2%;
        /* border: 1px solid red; */
        border-radius: 50%;
        z-index: 2;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
        padding: 0.5em;
        object-position: center;
        overflow: hidden;
      }
      &:hover {
        transform: scale(1.2, 1.2);
        overflow: hidden;
        transition: 2s ease-in-out;
      }
    }
  }

  /* ---------logo holder animation------------ */
  .logo-holder {
    width: 100%;
    height: 10rem;
    /* border: 2px solid seagreen; */
    display: flex;
    gap: 1%;
    overflow: hidden;
    transition: all linear;
    .logodiv {
      display: flex;
      min-width: calc(100% / 6);
      flex-grow: 1;
      /* border: 2px solid red; */
      img {
        height: 95%;
        width: 80%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .skills-section {
    .heading4 {
      margin-top: 0.5em;
    }
    .skills-sectiondiv {
      width: 100%;
      /* border: 2px solid green; */
      display: flex;
      gap: 2rem;
      .leftskillsdiv {
        width: 500px;
        height: 370px;
        /* border: 2px solid darkmagenta; */
        flex: 1;
        .frontend {
          width: 100%;
          height: 27%;
          /* border: 2px solid red; */
        }
        .backend {
          width: 100%;
          height: 27%;
          /* border: 2px solid red; */
        }
        h4 {
          padding-top: 1rem;
          padding-left: 1rem;
          font-size: 2.5rem;
        }
        ul {
          list-style: none;
          display: flex;
          gap: 0.5rem;
          padding-left: 1rem;
          li {
            font-size: 2.4rem;
            width: 130px;
            height: 40px;
            margin-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            background-color: var(--clrbtn);
            border-radius: 5em;
          }
        }
      }
      .rightskillsdiv {
        flex: 2;
        margin-top: 0.5em;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        width: 650px;
        height: 370px;
        /* border: 2px solid darkmagenta; */
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.3em;
        .me {
          color: var(--clrbtn);
        }
      }
    }
  }
}

/* ---- for media queties---- */
.containerbox {
  width: 1250px;
  height: 400px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.containerbox2 {
  width: 1250px;
  height: 400px;
  /* border: 2px solid red; */
  display: flex;
}

.mobile-icon {
  display: none;
  background: transparent;
  cursor: pointer;
}
